.table {
  overflow-x: auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0);
  justify-content: center;
  align-items: center;
  max-height: 40em;
  overflow-y: auto;
  display: block;
}

mat-table {
  width: 100%;
  font-size: 0.875rem;
  text-align: left;
  color: #6b7280;
  border-collapse: collapse;
}

th {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #f9fafb;
  padding: 0.75rem 1.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #374151;
  border-bottom: 1px solid #e5e7eb;
}

td {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #e5e7eb;
}

.headerRow {
  background-color: #f9fafb;
}

.row {
  background-color: #ffffff;
  transition: background-color 0.2s;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 0 100px 100px 0;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0 100px 100px 0;
}

.btn {
  position: relative;
  font-size: 0.75rem;
  width: 8em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: white;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
